:root {
}

.health {
    color: red;
}

.power {
    color: springgreen;
}

Label {
    font-size: 18px;
    -unity-font-style: bold;
    -unity-font-definition: resource("FlatSkin/Font/Roboto-ThinItalic");
}

.powerRow,
.healthRow {
    padding: 0;
    margin: 0;
    flex-grow: 0;
    flex-direction: row;
    align-self: flex-start;
    width: 100%;
}

.powerBar {
    margin: 0 0 30px 0;
    width: 100%;
}

.healthBar {
    margin: 30px 0 10px 0;
    width: 100%;
}


.healthBar .unity-progress-bar__progress {
    background-image: url("project://database/Assets/Textures/UI/PlayerHUD/health.png?fileID=2800000&amp;guid=9f911453e2346cf2a9ba788e8b271ef5&amp;type=3#health");
    padding: 0;
    margin: 0;
    border-width: 0;
    align-items: flex-start; 
    align-self: flex-start; 
    width: auto; 
    background-repeat: repeat no-repeat;
}

.healthBar {
    /*background-color: rgba(98, 33, 21, 0.55);*/
    margin-right: 50px;
}

.healthBar .unity-progress-bar__background {
    background-color: rgba(98, 33, 21, 0.55);
    border-width: 0;
}

.powerBar .unity-progress-bar__progress {
    
    background-image: url("project://database/Assets/Textures/UI/PlayerHUD/power.png?fileID=2800000&amp;guid=2c85dcfcb698c0a9da04961e15d1403a&amp;type=3#power");
    padding: 0;
    margin: 0;
    border-width: 0;
    align-items: flex-start;
    align-self: flex-start;
    width: auto;
    background-repeat: repeat no-repeat;
}

.powerBar .unity-progress-bar__background {
    background-color: rgba(49, 136, 41, 0.55);
    border-width: 0;
}

.playerHUD {
    width: 400px;
    align-items: auto;
    align-content: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-self: auto;
    flex-shrink: initial;
    flex-grow: initial;
    background-image: url("project://database/Assets/Textures/UI/PlayerHUD/background.png?fileID=2800000&guid=c828c2d0c0c3474f38cdafdaf769c96a&type=3#background");
    background-repeat: repeat no-repeat;
    
}
