:root {
}

.healthBar {
    height: 22px;
    width: 125px;
    justify-content: flex-start;
}

.healthBar .unity-progress-bar__progress {
    background-color: rgb(255, 0, 0);
}

.healthBar .unity-progress-bar__background {
    background-color: rgb(72, 61, 61);
}
